# ==========================================
# Interface Gráfica
# ==========================================
tkcalendar==1.6.1

# ==========================================
# Automação de Navegador (Scraping)
# ==========================================
selenium==4.33.0

# ==========================================
# Dados e Exportação Excel
# ==========================================
pandas==2.3.0
openpyxl==3.1.5

# ==========================================
# Google Sheets (opcional)
# ==========================================
gspread==6.2.1
google-auth==2.40.3
